[2012-07-13 19:11] Krinkle opened #1 "Trim whitespace when dealing with list manager"
Just a simple one, but I don't know right now at which locations in the code it's done best.

When copying/pasting it prevents some confusion and speeds up the proces by ignoring whitespace around the input, both when requesting info and when inserting/deleting/updating info.

In all cases "CVNBot xx yy John" should be treated equally as "CVNBot xx yy John ".
- trim() the input in the Command-thin

[2012-07-13 19:14] #1 closed, assigned to Krinkle

[2012-07-13 19:15] Krinkle opened #2 "Create advanced feed filters (for anons, uploads, newusers etc.)"
Linked from https://jira.toolserver.org/browse/SWMTBOT-29.

[2012-07-13 19:18] #2 closed, assigned to Krinkle

[2012-07-13 19:41] Krinkle opened #3 "Settings to suppress database connection ListManager.ClassifyEditor (CVNBlackRock)"
Going to build in a setting (boolean) which when enabled will prevent the bot from opening a database connection when trying to get a usertype in ListManager.ClassifyEditor() (which will then fallback to the regex to return 3 (anon) or 4 (user)).

Reason for this is the CVNBlackRock bot (a bot that monitors a lot of big and medium wikis that dont want a channel or dont have one yet (running SWMTBo

[2012-07-13 19:42] #3 closed, assigned to Krinkle

[2012-07-13 19:59] Krinkle opened #4 "New command "settings" for returning current custom settings"
A handy command to output various settings related to the RC output that are for public view (ie. bool isCubbie, and int editblank, editbig, newbig etc.)

---

Imported from https://jira.toolserver.org/browse/SWMTBOT-27
- Reporter: Krinkle
- Date: 19 September 2010 21:46:11

[2012-07-13 20:30] #4 closed, assigned to Krinkle

[2012-07-14 14:03] Krinkle opened #5 "Add {talkurl} attribute for block and unblock event"
As a followup to an earlier commit adding {talkurl} to the 'newuser' event, and the {url} to the 'delete' event. {talkurl} should also be added to the 'block' and 'unblock' event.

This is mostly a reminder for myself. I'll do it somewhere next week if no-one else did.

---

Imported from https://jira.toolserver.org/browse/SWMTBOT-15
- Reporter: Krinkle
- Created: 06 July 2010 21:26:54

[2012-07-14 14:03] #5 closed, assigned to Krinkle

[2012-07-14 14:06] Krinkle opened #6 "Implement log type 'protect', 'unprotect' and 'modifyprotect'"
The projectadder does download and regixify the "protect" and "unprotect" actions, it also has messages in `Console.msgs` but they're not in the switch in `Program.ReactToRCEvent`.

We'll have to add it there. And while there we might aswell add "modifyprotect" to the mix (from `MediaWiki:Modifiedarticleprotection`).

---

Imported from https://jira.toolserver.org/browse/SWMTBOT-31
- Reporter: Kri

[2012-07-14 14:10] #6 closed, assigned to Krinkle

[2012-07-14 14:30] Krinkle opened #7 "Slashes in titles"
I've confirmed in several channels (`#cvn-wp-en` and `#cvn-wp-nl`) that pages that contain a slash in their title (ie. "Wikipedia:Sandbox/Subpage" or "Sand/box" are NOT reported by the bot. I've been unable to find in the sourcecode why this is.

Though I can't say for sure, I think it's got something to do with line 47 in `RCReader.cs`:

[code]

A subpage edit in `irc.wikimedia.org/#en.wikipedia`

[2012-07-14 14:37] #7 closed, assigned to Krinkle

[2012-11-23 02:00] Krinkle opened #8 "Implement support for adminbots"
Currently a bot can't be admin and an admin can't be bot.
Currently when a botadmin does, for example, mass-blocking of open proxies (like WindAdminBot on ru.wikipedia and RonaldB on nl.wikipedia), there are a few options:

Botadmin = admin (default). Actions are parsed (Autoblacklist occurs and both the action and the list-addition are reported in the channel). The reporting in the channel causes

[2012-11-23 02:56] Krinkle opened #9 "Avoid adding duplicate keys to the message attributes"
Errors like "Key duplication when adding: watchword" are popping up fairly often in the debug broadcast.

I believe they are caused by `attribs.Add("watchword", ***)` occurring twice (or more) during a single ReactToRCEvent() call.

Should be fairly easy to fix by if() checking with `attribs.ContainsKey("watchword")`, and if true, `attribs.Remove("watchword")` before adding another.

---

Imported

[2012-11-23 05:46] Krinkle opened #10 "Support for IP ranges in block lists"
It's been suggested by [mike](https://meta.wikimedia.org/w/index.php?diff=1136725&oldid=prev) in 2008: support for ranges should be implemented.

At the very least the ranges MediaWiki also supports in blocking, but I think it'd be better to extend this to a more flexible range, and as a bonus put in a ranges MediaWiki supports.

So that for example the following would be possible
- CVNBot bl add

[2013-10-10 05:44] Krinkle opened #11 "Issues not yet imported from the old issue tracker (jira.toolserver.org)"
See https://jira.toolserver.org/browse/SWMTBOT

[2013-10-29 15:32] Krinkle opened #13 "Investigate memory leak"
The bots are increasingly building up memory usage when running. Over a weeks time of running half a dozen bots, it accumulates to several gigabytes of memory being allocated.

[2014-03-13 06:05] Krinkle opened #15 "Recognise IPv6 addresses as anonymous"

[2014-03-13 06:06] #15 closed, assigned to nobody

[2014-05-26 19:15] Krinkle opened #16 "Add option to disable namespace translation"
In channels like `#cvn-wp-nl`, `#cvn-wp-da`, and `#cvn-ja`, the conversion from e.g. "Overleg:Pagina" to "Talk:Pagina" looks like a bug.

It makes sense for `#cvn-sw` though.

[2014-06-10 16:24] Krinkle opened #17 "Implement MySQL support"
Because SQLite really sucks at scale, especially the way CVNBot does it right now with the .NET/C-sharp implementation that essentially re-opens and re-closes a 30MB+ file on every query and thus for every packet received from recent changes feeds.

There is also a ton of complexity right now from the 25 CVNBot instances trying to sync their lists through a private "broadcast" IRC channel. This fe

[2015-01-17 16:14] Glaisher opened #18 "Add user to bot list without removing from whitelist"
Currently, if a sysop on the whitelist is flooding a channel with deletions, we'd have to do something like this.

[code]

It would be nice if we could add a user to a botlist without removing from whitelist.

-------

Similar issue with admin list: https://github.com/countervandalism/CVNBot/issues/26

[2015-02-22 12:55] Krinkle commented on #9
This still causes exceptions to be logged to #cvn-broadcast from time to time.

[code]

[2015-03-14 21:36] davidabian opened #19 "Errors when an account is registered by another user"
When a user creates another user account, CVNBot reports twice that the first account was registered.

Real example of today (March, 14) on #cvn-wp-es:

[code]

While CVNBot3 should have reported:

[code]

(Note the final "f"; I know this is not the clearest example, but it is a real one, a vandalism.)

You can check these registrations on https://es.wikipedia.org/wiki/Especial:Registro/Fffgfdghfd

[2015-09-06 23:31] Krinkle opened #20 "Command "reload" broken due to HTTPS"
Since HTTPS is enforced on Wikimedia wikis, the `reload` command seems to be broken.

For example:
[code]

[2015-09-07 00:11] #20 closed

[2015-09-07 00:15] #11 closed

[2015-09-07 00:17] Krinkle commented on #20
Looks like 5dc7069 didn't actually fix it.

However running `mozroots --import --ask-remove` on the cvn-app servers and re-compiling the app with xbuild did fix it (even without that patch, following the redirect).

[2015-09-07 00:45] Krinkle commented on #20
This command populates `~/.config/.mono/` for the current user (e.g. you, or root). Since countervandalism runs bot under a service account (`cvn.cvnservice`) which doesn't have a home directory, we need to populate the machine default at ` /usr/share/.mono/` instead, using:
`sudo mozroots --import --sync --machine`

[2015-11-29 17:49] eurodyne opened #21 "Create #cvn-mediawiki"
Please create a CVN channel for mediawiki using a bot. Thanks!

[2015-11-29 19:41] rxywm commented on #21
:white_check_mark: done (#cvn-mediawiki)

[2016-01-08 05:29] #21 closed

[2016-01-08 05:34] Az1568 opened #22 "Support for reporting only new users to IRC"
As the title says, I've gotten more than a few requests for this. I modified the code to support this already, but need to test further for stability.

[2016-11-25 20:47] Krinkle opened #23 "Add support for revision-delete log actions"
We already show various log actions (block, page deletion etc.). It'd be nice to also add a subscription for revision deletion and other visibility changes.

Sample:

Code:

We'll need to figure a way to parse the log summary from the localisation messages so that `#cvn-sw`, for example, shows all changes in the same language (e.g. English).

We'll also want inclusion of this event to be configura

[2016-12-01 05:39] jsalsman opened #24 "Include a reports of the text triggering "Possible gibberish?" on IRC"
Here is a sample from #cvn-wp-en:

[22:28] <+CVNBot1> User [[en:User:RedSox39]] Possible gibberish? [[en:2016–17 Alabama A&M Bulldogs basketball team]] (+1608) Diff: https://en.wikipedia.org/w/index.php?diff=752428797&oldid=752422654 ""
[22:28] <+CVNBot1> User [[en:User:Bryan McLaude]] Possible gibberish? [[en:Nuestro Amor]] (+1548) Diff: https://en.wikipedia.org/w/index.php?diff=752428880&oldid=7

[2016-12-01 05:56] Krinkle commented on #24
"Possible gibberish?" is the message used when a "Large edit" is made by an anonymous user or blacklisted user.

* `editbig` code ([Program.cs](https://github.com/countervandalism/CVNBot/blob/v1.21.0/src/CVNBot/Program.cs#L1109-L1113))
* "Large edit" messages for `#cvn-wp-en` ([Console.msgs#L73-L79](https://github.com/countervandalism/CVNBot/blob/v1.21.0/src/Console.msgs#L73-L79))
* Default config

[2016-12-02 21:26] jsalsman commented on #24
@Krinkle are you using https://meta.wikimedia.org/wiki/Objective_Revision_Evaluation_Service#Edit_quality_models ?

Please see this demo: https://www.youtube.com/watch?v=Jz_hJlkEqkc

[2016-12-11 11:54] valhallasw opened #25 "CVNBot: not able to reload wikis"
From https://phabricator.wikimedia.org/T152494#2863019:

Sorry for reporting here but I don't know where else to do so.

[2017-01-18 21:02] rxywm commented on #25
✔️ fixed. same as #20

[2017-01-18 21:30] #25 closed

[2017-02-23 00:11] Krinkle commented on #10
Given how we query lists right now, this will require some added logic. I'd recommend matching the logic that MediaWiki uses to store IP range blocks.

* Change database to also include a range_start and range_end for IP addresses, and using hexadecimal syntax.
* That way, the addressed can be matched using `<` and `>` in SQL syntax. For example, we can store `127.0.0.0/25` as `range_start=7F00000

[2017-02-28 04:53] Krinkle commented on #24
@jsalsman I'm familiar ORES and use it in RTRC ([docs](https://meta.wikimedia.org/wiki/User:Krinkle/RTRC-docs), [src](https://github.com/Krinkle/mw-gadget-rtrc])). However, CVNBot is unlikely to ever use something like that. It's much more simplistic than that, and we're putting all our efforts into making CVNBot obsolete in favour of improving web-based tools like RTRC.

Now that [EventStreams](h

[2017-02-28 04:53] #24 closed

[2017-04-08 20:29] maurelio-wm commented on #18
👍Yes please. Thanks.

[2017-04-08 20:31] ghost opened #26 "Add user to admin list without removing from whitelist"
Same as issue #18 (about bot list) also applies to the admin list. Thanks.

[2017-04-08 20:33] ghost opened #27 "Allow whitelisting and blacklisting of IP ranges"
Currently not supported while in heavy use. Thanks.

[2017-07-12 03:53] Krinkle commented on #13
Closing for now. Haven't noticed a leak in the monitoring for at least 6 months, even on the busiest bots for SWMT channels, en.wikipedia.org, and wikidata.org.

[2017-10-13 00:13] Krinkle opened #28 "Avoid failing to process a message if one regex fails"
When processing an event from RCReader, and one of the regexes on the `BES` is for some reason corrupt, we currently throw and not catch it until the outer try/catch from `RCReader.rcirc_OnChannelMessage` which then decides to ignore the message and move on.

[code]

Instead, we should catch these within `ListManager.matchesList` and just return false, the same way as if the regex was working but

[2017-10-13 00:14] Krinkle opened #29 "Don't broadcast BES ADD for regexes that are invalid"
It seems the current order of operations is to first broadcast it to other bots, and only then find out the regex is corrupt, which can leave the entire fleet of bots broken rejecting all message (due to https://github.com/countervandalism/CVNBot/issues/28).

[2017-10-13 00:40] Krinkle commented on #29
nevermind. This was already fixed in v1.14.0. We do still broadcast, but all the recipients also validate before insertion so thats okay-ish.

[2017-10-13 00:40] #29 closed

[2017-10-13 00:43] Krinkle commented on #28
Pushed out a fix on the experimental 1.22.0-alpha branch for Mono 4, which is what CVNBot12 (cvn-wp-nl) currently runs on.

[2017-10-13 00:50] Krinkle commented on #9
A better fix would be to fix the logic problem in cases like the below:

[code]

There are bound to be cases where a watchword occurs in both the title and the edit summary (for example), or for an edit to match both an edit-summary watchword and e.g. a "bad user name" pattern.

In those cases the end result is that the last match wins. As such, we should reverse these code blocks for the most imp

[2017-10-13 19:07] Krinkle opened #30 "Fix broken handling of newusers/create2 events"
It seems the pattern for these log message has changed at some point in 2009 and the logs have been full of errors about them since.

[code]
[code]

Example of actual irc.wikimedia.org entries:

[code]

The MediaWiki legacy-irc message for this is `newuserlog-create2-entry` which contains:

[code]

This was changed in 2009 ([diff](https://translatewiki.net/w/i.php?title=MediaWiki%3ANewuserlog-crea

[2017-10-15 21:37] #30 closed

[2017-10-15 21:37] #28 closed

[2017-10-15 21:41] Krinkle opened #31 "Evaluate whether custom message queue is still needed"
Since the upgrade of Meebey.SmartIrc4net from 0.4 to 1.1 (e2d92e7d609b3), I think our custom message queue has become obsolete.

I disabled some of the more hacks that caused warnings in the new compiler after the upgrade, but I suspect the remaining custom code can be removed as well.

We currently have our own custom message queue thread, that continuously polls the high-priority and low-priorit

[2017-10-15 21:45] Krinkle opened #32 "Evaluate whether userlist-thread lock is working"
Gendarme provides various warnings for the following type of issue:

[code]

I'm not entirely convinced this logic is actually working. At least in case of `BatchGetAllAdminsAndBots` it seems like the state is checked, but then it continues regardless.

We should see if there's a better way to deal with this.

[2017-10-17 14:01] #32 closed

[2017-10-19 15:22] #31 closed

[2017-10-27 18:39] Krinkle opened #33 "Include git hash in IRC 'version' command"
It would be nice to somehow in the build process include the current git HEAD hash so that it can be echoed out at run-time from the `CVNBot version` command (`Program::BotConfigMsg`).

[2017-10-27 18:50] Krinkle opened #34 "Evaluate running from a shared binary"
I'm not entirely sure, but it should be possible to have the multiple instances on the same server run from the same executable.

Right now the executable assumes a specific working directory where everything is self-contained. And I wouldn't be surprised if some parts of the code actually lookup paths relative to where the binary is stored as opposed to relative to the current working directory.

[2017-10-27 18:50] Krinkle commented on #34
Current deployment process:

https://gist.github.com/Krinkle/3a392bd90dff08a15cb620e0375f0aed#file-shell-02-cvn-app8-log

[2017-10-27 18:51] Krinkle commented on #34
Current deployment process:

https://gist.github.com/Krinkle/3a392bd90dff08a15cb620e0375f0aed#file-shell-02-cvn-app8-log-L14-L24

[2017-12-06 21:32] MarcoAurelioWM commented on #26
The 'ghost' account is me with my old ID. Please referr any questions to me. Thanks.

[2017-12-06 21:37] MarcoAurelioWM opened #35 "Allow a global bot list"
Please add support for a global bot list. Not only global bots exist, but sometimes it's good to have some individual temporary ignored on the bots to avoid flooding, like when we perform global renames.

Addition to this list should be posible without the need to remove the user from any other list he's into (see #18 & #26).

Thank you!

[2017-12-19 03:04] Pix1234 opened #36 "Update block url from Special:Blockip to Special:Block"
For example: <SWBot3> New user [[simple:User:Shinewin2xw1xofxggrmrvbbg7sisbp]] created. Block: https://simple.wikipedia.org/wiki/Special:Blockip/Shinewin2xw1xofxggrmrvbbg7sisbp

[2017-12-19 22:14] Krinkle commented on #36
@Pix1234 Can you explain what the problem is?

[2017-12-19 22:16] Pix1234 commented on #36
Shouldnt it be just special:block?

[2017-12-20 00:04] Krinkle commented on #36
@Pix1234 It works both ways. The block system used to be called "Blockip" (because it was created for blocking IP addresses, the ability to block user names was created afterwards, about 10 years ago). It has been renamed to "Block", but the old name still works.

The CVNBot software is old and therefore uses the old name. The link is not broken though, and it works both ways.

[2018-01-05 22:35] MarcoAurelioWM opened #37 "Secondary account creations are displayed as if the creator's account is being created"
`User:A` is registered already and creates an account for `User:B`. CVNBot will however display that User:A has been created.

 - Recent example: `<CVNBot5> New user [[m:User:JGulingan (WMF)]] created. Block: https://meta.wikimedia.org/wiki/Special:Blockip/JGulingan_%28WMF%29`

 - Real log: `(User creation log); 22:26 . . User account EYildrim (WMF) (talk | contribs | block) was created by JGuling

[2018-01-05 22:41] MarcoAurelioWM commented on #36
PR #38 should fix this.

[2018-01-05 22:50] MarcoAurelioWM commented on #37
Apparently [this is already supported](https://github.com/countervandalism/CVNBot/blob/b6ca1d6911e987c5e12ba3bfd6887665b5ca76c1/src/Console.msgs#L100) but maybe it is not recognizing the current log entries? File was last updated 5 years ago.

[2018-01-06 16:42] #36 closed

[2018-01-06 16:43] Krinkle commented on #36
@MarcoAurelioWM Thanks! I'll deploy this now.

[2018-01-06 17:01] Krinkle opened #39 "Fatal error on quit"
After running command `CVNBot1 quit` in `#cvn-bots`, CVNBot1 quit as expected. But Cubbie also quit as the same time, which seems rather suspicious.

Syslog for Cubbie:
[code]

Possibly related, when I gave SWBot3 the command to quit, it did leave, but it also logged a fatal error while doing so:
[code]

This may have to do with the fact that I replaced the `.exe` files on the server as part of a

[2018-01-06 22:11] Krinkle opened #40 "Fix unmatched block type errors"
[code]

Might be related to https://github.com/countervandalism/CVNBot/commit/df39aaabe274655c8c88bc1c6f1e85d6f10f8d39

[2018-02-23 14:11] MarcoAurelioWM opened #41 "Protection flags displayed inside article name"
`<CVNBot5> Admin [[m:User:Xaosflux]] Protected [[m:User talk:A-Chinese-Wikipedian ‎[edit=autoconfirmed] (expires 13:58, 23 August 2018 (UTC))‎[move=autoconfirmed] (expires 13:58, 23 August 2018 (UTC))]] "Persistent vandalism"`

the article closing `]]` tags should be at the end of the article name.

[2018-03-01 12:04] MarcoAurelioWM opened #42 "Update the wikis monitored by bots"
I've run https://cvn.wmflabs.org/megatable/ with the list from [here](https://meta.wikimedia.org/wiki/Small_Wiki_Monitoring_Team/Groups) and there are a lot of wikis monitored more than once by different bots and also a lot of "non-swmt" wikis and closed wikis that might have to be removed. Also, there are missing newly created projects. Can someone from the CVN staff update this? Thanks!

[2018-03-01 12:37] rxywm commented on #42
- CVNBot6
    - fa.wikiquote (non-swmt)
        - 🚫 no monitored at another channel
    - ko.wikibooks (non-swmt)
        - 👓 monitored at #cvn-ko-scan (CVNBot25)
    - ko.wikisource (non-swmt)
        - 👓 monitored at #cvn-ko-scan (CVNBot25)
    - meta.wikimedia (non-swmt)
        - 👓 monitored at #cvn-meta (CVNBot5)
    - mk.wikibooks (non-swmt)
        - 👓 monitored at #cvn-mk-scan  (CVNBot22)

[2018-03-01 12:46] rxywm commented on #41
Related with [this bug](https://phabricator.wikimedia.org/T20541)

[2018-03-01 14:34] MarcoAurelioWM commented on #42
Thanks @rxywm - of those not monitored, I suggest we add only those matching small.dblist

[2018-03-01 19:31] Krinkle commented on #42
Thanks @MarcoAurelioWM and @rxywm.

In December I tried to do this because I noticed similar issues with duplication and missing wikis. I then spent some time [fixing MegaTable](https://github.com/countervandalism/infrastructure/commits/master/cvn-docroot) and creating the new [SWMT/Groups](https://meta.wikimedia.org/wiki/Small_Wiki_Monitoring_Team/Groups) page on Meta, but I completely forgot to

[2018-03-03 13:06] MarcoAurelioWM commented on #26
Came here to report this to see that I already did reported the issue 😃
A workaround I sometimes use is to `CVNBot getadmins p=<wiki>` or `batchgetusers` although the later has made the bots to go down in the past thus I'm not using that often.

[2018-03-03 13:09] MarcoAurelioWM commented on #42
Is the list of "wikis that no longer need to be monitored" already handled/implemented? Thanks.

[2018-03-06 19:46] revi opened #43 "Greylist should not override Blacklist"
When blacklisted user (in this case, by block on other channel) matches greylist rule, that should not override blacklist.

Not sure if this is intended...

[<img height="400" src="https://user-images.githubusercontent.com/156867/37061471-80234a00-2148-11e8-844d-83f1ada86ef3.png" alt="image">](https://user-images.githubusercontent.com/156867/37061471-80234a00-2148-11e8-844d-83f1ada86ef3.png)

[2018-04-20 23:29] Krinkle commented on #42
@MarcoAurelioWM "no longer need to be monitored" are wikis that are `locked`, `private`, `fishbowl`, or too large to be considered for SWMT (based on [meta-wiki sitematrix](https://github.com/countervandalism/infrastructure/blob/90f24f2807c2f75c5910085c6aa6eb979222b5ae/cvn-docroot/megatable/main.js#L231-L275) and a copy of [large.dblist])https://github.com/countervandalism/infrastructure/tree/mast

[2018-04-26 02:52] Krinkle opened #44 "Ignore multiple spaces between user name and expiry in list commands"
[code]

This means they can be added, but not removed. Anyway, we should fix it so that multiple spaces are ignored.

The problem is at https://github.com/countervandalism/CVNBot/blob/6c60cd4bd1d0f6d8a67847b91ae7fa89570ee827/src/CVNBot/ListManager.cs#L30

[code]

It only considers `x =` as expiry if there is no space after its value or if there is exactly one space between its value and `r=`. Give

[2018-08-21 12:36] MarcoAurelioWM opened #45 "get(admin|bots)/batchgetusers should fully update the list of users"
Apologies if this already happens.

The `getadmins`/`getbots`/`batchgetusers` commands should fully upgrade the list of admins, bots or admins and bots. That means not only adding missing people to the list, but also removing people no longer in those groups.

Example: we have a wiki with these sysops `A`, `B`, and `C`. `B` is desysopped and `D` is promoted to sysop; the list should contain in the

[2018-08-21 17:40] Krinkle commented on #45
@MarcoAurelioWM Thanks for reporting. I understand your example and I agree that we should aim to make that possible.

The behaviour you describe is not (yet) the case right now. The CVN `get*` functions only add users, not remove.

I will accept this feature request, but I am unsure how to do it.

There is more than 1 reason for a user to be on a whitelist. For example, a user can be on the white

[2018-08-22 21:16] MarcoAurelioWM commented on #45
Thank you, @Krinkle, for your detailed reply.

I was assuming that there was one admin and bot list per project (I guess the `p=<project>` parameter made me think so; the white/blacklist don't require a `p=` parameter so I guess they're indeed global).

I agree that a desysop _per se_ should not harm the user. It can be due to inactivity or resignation (which usually doesn't mean the user is now "

[2018-10-11 17:33] rxywm opened #46 "Can not load webresources due to "SecureChannelFailure#012" occured"
- rxy : CVNBot27 load hr.wikipedia
- CVNBot27 : Unable to add project: Unable to retrieve https://hr.wikipedia.org/w/api.php?format=xml&action=query&meta=siteinfo&siprop=namespaces from server. Error was: Error: SecureChannelFailure (The authentication or decryption has failed.)

Oct 11 17:02:13 cvn-app9 CVNBot.exe[1486]: ERROR [Main] CVNBot.Program [CVNBot27] Add project failed#012System.Exceptio

[2018-10-12 19:36] rxywm commented on #46
It seems can be avoid this error by using Mono 4.8.0 or later
(tested by docker mono:4.8)

[2018-10-12 19:39] rxywm opened #47 "Can not load new project due to "The remote server returned an error: (404) Not Found." occured"
- rxy : rxy-testmono480 load hr.wikipedia
- rxy-testmono480 : Unable to add project: Unable to retrieve https://hr.wikipedia.org/w/index.php?title=MediaWiki:Undeletedarticle&action=raw&usemsgcache=yes from server. Error was: The remote server returned an error: (404) Not Found.

This error occurred by recently [MediaWiki core change](https://phabricator.wikimedia.org/rMWcba0fb1c1576324e87b27b6d31e

[2018-10-12 20:42] Krinkle commented on #46
Fixed by https://github.com/countervandalism/infrastructure/commit/2906b105160e4df45a977d51319b5bb3f729cc17.

[2018-10-12 20:42] #46 closed

[2018-11-08 23:51] Krinkle opened #50 "Release 1.22"
* [x] Promote master branch to `1.22.0-beta.1` (this allows us to distinguish with `BotName version` on IRC from `1.22.0-alpha`).
* [x] Upgrade 1 CVNBot to the latest version.
   https://github.com/countervandalism/infrastructure/blob/master/tasks.yaml#L98
* [x] Slowly upgrade the other CVNBot instances on cvn-app servers to the latest version.
* [x] In case of any issues, fix the bugs, increase b

[2018-12-27 02:37] Krinkle commented on #39
Going to close as I have not seen the problem in a while. Let's re-open if and when we see it again.

[2018-12-27 02:37] #39 closed

[2018-12-27 02:43] Krinkle commented on #19
@MarcoAurelioWM wrote at <https://github.com/countervandalism/CVNBot/issues/37>

[2018-12-27 02:45] Krinkle commented on #37
Duplicate of #19.

[2018-12-27 02:45] #37 closed

[2018-12-27 02:49] Krinkle commented on #50
I've upgraded CVNBot18  to `1.22.0-beta.1` (feeds cvn-wikidata, runs on cvn-app8).

[2019-01-02 16:48] MarcoAurelioWM opened #54 "Unable to reload - returns 404"
Same as #20 and #25 but this time it is not fetching api.php but:

[code]
Indeed visiting https://meta.wikimedia.org/w/index.php?title=MediaWiki:Undeletedarticle&action=raw&usemsgcache=yes returns 404, while https://meta.wikimedia.org/w/index.php?title=MediaWiki:Undeletedarticle does exist.

[2019-01-02 16:52] rxywm commented on #54
same as #47
Waiting deploy by #50

[2019-07-21 19:16] Krinkle commented on #9
Still seen:

[2019-07-21 19:45] Krinkle commented on #9
Re-closing. Assumed fixed in master, but wasn't deployed yet. See https://github.com/countervandalism/CVNBot/issues/50.

[2019-07-21 19:45] #9 closed

[2019-07-21 19:56] Krinkle commented on #50
I've tagged the next beta and upgraded CVNBot18, Cubbie, CVNBot1-5 to `1.22.0-beta.2` (all on cvn-app8).

[2019-07-21 19:58] Krinkle commented on #50
Cubbie is crashing on start up:

[code]

[2019-07-24 19:34] Krinkle commented on #50
I've fixed the regression in https://github.com/countervandalism/CVNBot/commit/48e03f1959, tagged release 1.22.0-beta.3 , and re-started the upgrade plan (see comment 0).

[2019-07-24 19:44] Krinkle commented on #50
The upgrade to beta.3 happen on July 21st. Here's some monitoring graphs for the 3 days since then, compared to past week, month and year.

### CPU

<img width="748" alt="Graph of cpu from cvn-app8 by week, month, and year" src="https://user-images.githubusercontent.com/156867/61823274-64e8ae80-ae53-11e9-89c6-8d4afdf8d253.png">

### Load Average
<img width="765" alt="Graph of load average from cvn

[2019-07-24 19:44] Krinkle commented on #50
This all looks good to me, so I'm gonna continue with the upgrades.

[2019-07-27 13:58] MarcoAurelioWM opened #55 "Broken CentralAuth URL on accounts created by others"
Spotted today:

`<CVNBot8> New user [[hr:User:Marijicaaa08]] created by [[hr:User:OR6667]]. CentralAuth: ${caurl}`

`CVNBot8` runs `CVNBot 1.22.0-beta.3` in `#cvn-sw`.

Related: #19 and #37.

Apparently comming from: https://github.com/countervandalism/CVNBot/blob/7710949a2b8095ccef9267e7b984851d5bb29cfa/src/CVNBot/Program.cs#L1141

[2019-07-27 14:03] MarcoAurelioWM commented on #55
Accounts created by anonymous users are not being affected by this issue.

[2019-07-31 22:09] #50 closed

[2019-07-31 22:10] #54 closed

[2019-09-01 21:45] Krinkle commented on #55
@MarcoAurelioWM Can you confirm whether this is still reproducible since we've deployed CVNBot 3.0?

[2019-09-01 22:46] MarcoAurelioWM commented on #55
Certainly. Please allow me a day or two to check on IRC, if possible.
Thanks.
--
M. A.

[2019-09-08 16:52] zoranzoki21 opened #57 "Create #cvn-wp-sr"
Please create a CVN channel for Serbian Wikipedia. Thanks!

[2019-10-04 21:30] MarcoAurelioWM commented on #55
Apparently we're back at the old behaviour:

`<CVNBot5> New user [[m:User:JCabanero (WMF)]] created. Block: https://meta.wikimedia.org/wiki/Special:Block/JCabanero_%28WMF%29` for `#cvn-meta`

`<CVNBot6> New user [[m:User:JCabanero (WMF)]] created. CentralAuth: https://meta.wikimedia.org/wiki/Special:CentralAuth/JCabanero_%28WMF%29` for `#cvn-sw`

Actual log on Meta-Wiki: [here](https://meta.wikime

[2020-04-12 01:39] Krinkle opened #59 "ReactorException: Item has already been added. Key in dictionary: 'watchword' Key being added: 'watchword'"
This has been happening for many years. There was more than one bug of this kind. See also https://github.com/countervandalism/CVNBot/issues/9, where some of these were already fixed. But I guess we missed one!

[2020-04-22 08:05] #59 closed

[2020-05-09 22:15] Krinkle commented on #13
Meant to re-open this <s>months</s> years ago. Definitely still an issue.

And since about November or December, it seems to cause at least once a week that the bots come to a halt until we manually restart them.

![graphite-labs wikimedia org  2png](https://user-images.githubusercontent.com/156867/81486168-e971b580-924a-11ea-9be6-63b93cf69134.png)
![graphite-labs wikimedia org](https://user-image

[2020-06-07 20:21] Krinkle commented on #13
To get started locally, clone this repo and [build the code](https://github.com/countervandalism/CVNBot#build) (either via Visual Studio, or from the command-line with msbuild and mono), then tell the bot via IRC to monitor wikidata (it is the most active wiki and thus triggers the leak the quickest).

By default the bot joins `#cvn-sandbox` on Freenode. To instruct the bot to monitor a wiki you n

[2020-06-08 01:31] NickCraver commented on #13
Hey all, just seeing if I can be of any assistance here.

First checking constraints: is Mono the only available runtime, or is something more recent like .NET Core an option? I ask because there's a lot of string parsing involved here and that's where a lot of allocations can be removed and performance improved in .NET Core, if running it is an option.

I'm also curious about security implication

[2020-06-08 01:47] Krinkle commented on #13
@NickCraver Hey, thanks for taking a look. Much appreciated.

This is running on a VM in Wikimedia Cloud with Debian 9 Stretch and the Mono 5.16 that comes with that (via Wikimedia's APT mirror). I work at Wikimedia Foundation on the LAMP stack for Wikipedia, but CVNBot and its operation is something I do in my volunteer capacity, and I'm very much a beginner here. I've inherited this and done my

[2020-06-08 02:12] NickCraver commented on #13
@Krinkle Got it - thanks! I'm honestly not sure what the process is to properly dump this on Debian, I'll ask for backup there - happy to analyze it though. From looking through the code, I'd currently be looking at unbounded project list growth. It seems to vary if a project is ever removed, and there are some races down that path with multiple threads.

It wouldn't be completely trivial work, bu

[2020-06-08 02:30] KirillOsenkov commented on #13
Hey all, with Mono 5.16 you can switch to target net472 and start using async/await and all the latest goodness.

[2020-06-08 02:34] Krinkle commented on #13
The project loader is rare used, only once when an instance is first set up, and then it stays like that. A restart every now and then after an upgrade, but for the most part processes start, live for weeks and get restarted without ever seeing a `load`, `drop`, or other command that modifies the projects list.

<details><summary>The Projects.xml file for CVNBot18/wikidata:</summary>

[code]
</det

[2020-06-08 02:41] KirillOsenkov commented on #13
Could it be a leak in the underlying IRC library? (Meebey.SmartIrc4net.dll)

[2020-06-08 02:42] Krinkle commented on #13
@NickCraver The VMs currently run Mono 5.16 from mono-project.com's apt source ([link to server provision config](https://github.com/countervandalism/infrastructure/blob/06933789b5e2d9470d23539c5d3578fc6a3bbb23/setup.yaml#L132)). I've added Microsoft's apt source as well on a similar instance and installed `dotnet-sdk-3.1`.

Is this an SDK you'd like to make us of within the CVNBot code, which Mon

[2020-06-08 02:47] kashifkhan commented on #13
@KirillOsenkov possible, that code hasn't been updated in a while either.

[2020-06-08 02:47] KirillOsenkov commented on #13
To run with .NET Core you would just type `dotnet CvnBot.exe` in terminal (and it might even work without converting to target .NET Core). But hard to say without trying.

First thing it should be safe to change this line to `net472`:
https://github.com/countervandalism/CVNBot/blob/90017b6e61bfe84541a7fb0ca767b3b1990089d8/src/CVNBot/CVNBot.csproj#L4

If you switch to net472 and you see build error

[2020-06-08 02:54] KirillOsenkov commented on #13
Here's the source for the SmartIRC library:
https://github.com/meebey/SmartIrc4net

It's on NuGet at:
https://www.nuget.org/packages/SmartIrc4net

The .dll version currently used is 0.4.5.0.

[2020-06-08 02:55] Krinkle commented on #13
I'm seeing a few instances pop in and out of `#cvn-sandbox` on Freenode. (Totally fine!) In case that's one of you and you're wondering why it gets flood-kicked... the message buffering and flood prevention code have been tuned based on the higher thresholds our servers get from Freenode. That might make local reproducing of the memory leak harder and tweaking the buffer might cause a different/pr

[2020-06-08 02:57] KirillOsenkov commented on #13
One easy thing to do would be to update SmartIrc4net to latest in the hopes that the leak was there and it was fixed.

[2020-06-08 02:58] KirillOsenkov commented on #13
For example, could it be this?
https://github.com/meebey/SmartIrc4net/commit/13398fca4934806f183008faeb7c590bab832a4f

[2020-06-08 03:00] KirillOsenkov commented on #13
cc @meebey have you had any known memory leaks in SmartIRC?

[2020-06-08 03:01] kashifkhan commented on #13
Saw this check in on the bot, its already up to date with v 1.1
https://github.com/countervandalism/CVNBot/commit/e2d92e7d609b3e650cd1acda90e712f2acbd5a02

[2020-06-08 05:06] Krinkle commented on #13
The code seems to compile without any warnings (both with msbuild and in VS2019), and run without issue from what I can tell.

I do note though, that there is also the following in the exe-config file:

[code]

I'm not sure how the two relate, or whether I made a mistake by having `version` and `sku` be different...

[2020-06-08 05:24] KirillOsenkov commented on #13
`<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />` - you can safely ignore, leave as is, it doesn't matter.

[2020-06-08 07:37] alefranz commented on #13
With .NET Core you can generate an exe so that it can be invoked directly. It can have the runtime self-contained so it is not even necessary to install the .NET Core runtime or SDK.
I imagine you are currently building the application on a build agent of sort before deploying it to the servers? So you would need to install the .NET Core SDK on that build agent but nothing needs to be installed on

[2020-06-08 12:54] reedy commented on #13
Depending on how replicable this is, you've also got access to JetBrains ReSharper, and more importantly/relevantly dotTrace/dotMemory via our subscription

[2020-06-08 16:59] Krinkle commented on #13
.. but support for .NET 4.7.2 was only added in Mono 5.18, whereas the servers still run Mono 5.16. However I see now that the mono-project apt source from which I installed Mono 5.16 are continuously updated even for older Debian distros. I didn't realise that they did that (I assumed they'd pin the version there for each Debian release). These apt sources noiw provide Mono 6.8 for Debian 9 Stret

[2020-06-08 18:31] n3wjack commented on #13
A memory dump from the process when it's having a lot of leaked memory might help in speeding up figuring out what's going on.
Using windbg you can find out what objects are in memory, and figure out what's causing the leak. Using DebugDiag you might even be able to find the leak without having to dig through it yourself with windbg : https://www.microsoft.com/en-us/download/details.aspx?id=49924

[2020-06-08 22:53] kashifkhan commented on #13
Itll be interesting to see if the updates to Mono 6.8 & going to .net 4.7  will alleviate the issue.

[2020-06-08 23:01] kashifkhan commented on #13
This bug that is closed in Mono 6.8 https://github.com/mono/mono/issues/8689 looks interesting.

[2020-06-08 23:27] Krinkle commented on #13
Updating the servers was complicated by an issue, but eventually completed. The `mono-complete` package refused to install on its own due to conflicts within two of its dependencies over how msbuild is organised (looks similar to https://github.com/mono/mono/issues/15709).

[code]

After manually uninstalling all traces of mono and msbuild, I tried again but this time install msbuild as its own pa

[2020-06-08 23:51] Krinkle opened #64 "Error "IRC: Closing Link" should be handled"
[code]

The bot process remained alive with no action. It did not try to reconnect, restart, or exit (for external auto-restart from cron).

It just stayed running without actually being in the feed channels on Freenode.

[2020-06-08 23:52] Krinkle commented on #64
https://github.com/countervandalism/CVNBot/blob/v4.0.0/src/CVNBot/Program.cs#L261-L264

[2020-06-09 02:29] #33 closed

[2020-06-09 16:37] rxy commented on #13
if needed, We can use docker for isolate environment to using other solution ( avoid constraint for debian stretch package )

[2020-06-10 04:17] meebey commented on #13
if you are running version 1.1, then there are no known leaks. SmartIr4net is a mature library and is used by quite a few projects for long-running bots (e.g. LIOC), so I would be surprised to find a leak in it. But yes, in the past it had a few.

Any luck with a memory profiler to locate the leak?

[2020-06-10 04:21] KirillOsenkov commented on #13
I'm not sure how to grab a memory dump on Linux and Mono. If this ran on .NET framework or .NET Core on Windows it would be very easy to investigate.

[2020-06-10 05:02] KirillOsenkov commented on #13
I've managed to get it building and running on Windows. Just needed to add these PackageReferences:
https://github.com/countervandalism/CVNBot/pull/66

It's running now, I'll let it run overnight and see if I can reproduce a leak. If it leaks, it'll now be very easy to investigate.

[2020-06-10 05:06] KirillOsenkov commented on #13
Repro instructions for Windows:
1. git clone https://github.com/countervandalism/CVNBot
2. apply my PR #66
3. cd CVNBot\src
4. msbuild /r /bl CVNBot.sln

Running:
1. go to https://webchat.freenode.net, enter a username and make a new channel
2. edit CVNBot.ini to mention your channel name for `feedchannel`
3. run the bot and wait for it to join your channel
4. in the channel type YourCVNBot load e

[2020-06-10 09:45] meebey commented on #13
@KirillOsenkov this thread mentions the bot uses SQLite which caused a small dejavu. I ran into memory leaks with SQLite in https://github.com/meebey/smuxi in the past, check this commit https://github.com/meebey/smuxi/commit/4e5f4c573fdd417cf1e431d04e473939dd68c5b5#diff-256230ab72fa1386ce4aad3c8928e5ea

[2020-06-11 04:36] DavidKarlas commented on #13
@Krinkle am I reading graphs at https://tools.wmflabs.org/nagf/?project=cvn#h_cvn-app8_memory wrong or did bumping Mono to 6.8 fix leaking?

[2020-06-11 16:23] Krinkle commented on #13
@DavidKarlas It would seem so, yes. I'm not yet ready to close this ticket however as there seem to be one or two bugs I'm observing that seem to be new and may be masking the memory isssue:

1. The most active feeds are getting flood kicked even from the production instance. This results in an automatic restart. It's possible that the message buffering/back-off mechanism has stopped working corre

[2020-06-11 17:01] KirillOsenkov commented on #13
I’ve seen a random SocketException where the bot has disconnected from the channel, not sure what that was about but possibly related. I left the bot running under debugger and then saw it in the morning.

[2020-06-21 01:53] Krinkle opened #67 "Consider hiding deletion events in CVN channels"
There are sometimes many deletion log actions by an admin, that is not a bot. Maybe it is scripted, or maybe there is just a lot to delete.

_(From `#countervandalism` earlier today)_

Current state:
* CVNBot hides all actions by users on its bot list by default.
* CVNBot hides all actions made with a "flood" or "bot" flag by default.
* CVNBot supports showing block actions, delete actions and oth

[2020-06-21 15:59] #44 closed

[2020-06-23 04:47] Naleksuh commented on #55
This is still happening 2020-06-22. Also, plus signs have been around longer than ${} has

[2020-06-27 18:38] Krinkle opened #68 "Support running CVNBot on dotnet"
(To new users: I've inherited this project to run and maintain as a volunteer. While I've done software development small and large for many years, I have no experience with C#, .NET and Mono specifically - beyond an annual server upgrade or little patch here and there for this one project.)

Ref https://github.com/countervandalism/CVNBot/pull/66.
Ref https://github.com/countervandalism/CVNBot/iss

[2020-06-27 19:27] Krinkle commented on #68
Hm.. if i understand [this .NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) page correctly, the newer/stable/slimmer target that Mono and dotnet both support isn't `netcoreapp` but `netstandard`. Looks like `netstandard2.0` would be a good place to start.

When compiling the project with `netstandard2.0`, there are two groups of issues.

[code]

and

[code]
_[452 Error

[2020-06-27 19:45] Krinkle commented on #68
The first error has a pretty clear instruction:

Although I wasn't quite sure how/where to add this, I quickly [found](https://github.com/search?q=%22mscorlib%2C+Version%3D4.0.0.0%22+%22netstandard2.0%22+csproj&type=Code) a [random example](https://github.com/hprose/hprose-dotnet/blob/001738c54c7fd1106c1783d0e6505ef3f4607038/proj/Hprose.RPC.Codec.JSONRPC/Hprose.RPC.Codec.JSONRPC.csproj#L79-L82) on

[2020-06-27 19:53] Krinkle commented on #13
|![graphite-labs wikimedia org](https://user-images.githubusercontent.com/156867/85930916-2146c200-b8b8-11ea-8965-8a8b616adec5.png)
|--
| ![cvn-wmcloud-nagf-stats](https://user-images.githubusercontent.com/156867/85930933-2e63b100-b8b8-11ea-8d69-1522203958bd.png)

Declaring victory on this one. I know this was quite a simple fix, but I couldn't have done it without y'all. Thanks! ❤️

[2020-06-27 19:53] #13 closed

[2020-07-04 21:57] Krinkle commented on #17
For local development we'd want to keep using SQLite for simplicity. So in addition to supporting MySQL, we'd need the same abstraction/interface to support SQLite as well.

In PHP, one such backend-agnostic interface exists in the form of PDO. I'm sure such libaries exist for C# as well, I just haven't had the time to reseach them and see what's needed to adopt them. Help always welcome!

[2020-07-15 20:18] ZIJony commented on #26
Any update on this!

[2021-03-07 13:32] rstular commented on #43
Does this issue still exist? After some testing, I was unable to reproduce it.

[2021-06-20 23:44] Krinkle commented on #45
I was wrong. The adminlist and whitelist as separate things. It is true that there is only one reason field, and no per-project whitelist. But, the adminlist is always per-project. A username can be on multiple per-project adminlists, and on the (global) whitelist, for example.

This means it should be fairly easy to remove outdated entries from the admin list. And, since the adminlist has precede

[2021-06-22 19:38] Krinkle opened #72 "#cvn-wikidata loses RCReader connection"
It seems for weeks now, the CVNBot for cvn-wikidata (CVNBot18) keeps losing its irc.wikimedia.org connection. That is, within minutes or hours of restarting the bot, we stop receiving messages indefinitely. After this amount of time, _something_ happens after which it presumably is no longer connected to irc.wikimedia.org. I say presumably since the logs say it is connected. But from my own observ

[2021-06-22 21:35] Krinkle opened #73 "Rewrite in Python 3"
Rewrites are often a terrible idea for large projects, but I think it might be called for here. Firstly, it's a fairly small and simple project. It's only a few hundred lines of code, and the minimal required complexity is fairly low. Basically all we do is:

* Connect to event source (irc.wikimedia.org currently, perhaps worth moving to [EventStreams](https://wikitech.wikimedia.org/wiki/Event_Pla

[2021-07-10 15:04] Krinkle commented on #73
Asyncio and irc3 packages for Python3, might be better than Twisted (currently used by clerkbot), seeing that clerkbot lost its name name and did not self correct in any way.

https://github.com/wikimedia/labs-tools-wikibugs2/blob/d1d1ab58abff6c8271482c5edb6534fcd2fa5613/redis2irc.py

[2021-07-10 20:48] Krinkle commented on #73
See also EventSource as used by Pywikibot, which has an example of good error handling as part of the loop.

Ref https://github.com/wikimedia/pywikibot/blob/2b8402a66e28ae4be30f74deb9e4e72ac529ef69/pywikibot/comms/eventstreams.py#L288-L303

[2021-07-11 01:26] legoktm commented on #73
irc3 doesn't have this, we implemented it manually in wikibugs. I briefly searched the limnoria docs and didn't see anything obvious either (their flood stuff is about users flooding with !commands).

I do wonder if this is something that can be handled on the network side, getting some sort of higher flood limit or exemption.

Isn't this a think that should be done by the client, so that colors a

[2021-09-18 03:21] Krinkle commented on #68
Closing in favour of https://github.com/countervandalism/CVNBot/issues/73.

[2021-09-18 03:21] #68 closed

[2021-10-07 17:55] Krinkle opened #74 "Process should exit (or restart) if gone from feed network and source network"
From irc.wikimedia.org / commons.wikimedia:
[code]

From Libera chat / cvn-bots and cvn-commons:
[code]

Yet, despite both connections being gone, the bot still keeps running instead of exiting and letting it be restarted:

[code]

syslog:

[2021-10-07 18:00] Krinkle commented on #74
The DNS problem is just one example, but the bottom line is, it should have retried or exited instead of keeping the process running while it does nothing.

[2021-11-26 22:13] wikisismos opened #75 "Ignore blocks made with 'flood' flag"
In order to prevent the bot from leaving the channel due to excessive flooding; ignore blocks made by sysops who have set the 'flood' flag